<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.editors">
		<editor 
			class="asia.sejong.freedrawing.editor.FreedrawingEditor"
			default="true"
			extensions="freedrawing"
			id="asia.sejong.freedrawing.editor.FreedrawingEditor"
			name="Freedrawing Editor"
			contributorClass="asia.sejong.freedrawing.editor.FreedrawingEditorActionBarContributor">
		</editor>
	</extension>
 <extension
       point="org.eclipse.ui.startup">
    <startup
          class="asia.sejong.freedrawing.startup.FreedrawingStartup">
    </startup>
 </extension>
 <extension
       point="org.eclipse.ui.statusHandlers">
    <statusHandler
          class="asia.sejong.freedrawing.util.FreedrawingStatusHandler"
          id="asia.sejong.freedrawing.statusHandler">
    </statusHandler>
    <statusHandlerProductBinding
          handlerId="asia.sejong.freedrawing.statusHandler"
          productId="org.eclipse.platform.ide">
    </statusHandlerProductBinding>
 </extension>
	
<!--
 <extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="com.qualityeclipse.genealogy.command.rename"
          contextId="com.qualityeclipse.genealogyContext"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="F2">
    </key>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
      <category
            id="com.qualityeclipse.genealogy.command.category"
            name="QualityEclipse Commands">
    </category>
    <command
          categoryId="com.qualityeclipse.genealogy.command.category"
          description="rename"
          name="Rename"
          id="com.qualityeclipse.genealogy.command.rename">
    </command>
 </extension>
 
        <extension
             point="org.eclipse.ui.contexts">
          <context
                description="Genealogy Context"
                id="com.qualityeclipse.genealogyContext"
                name="Genealogy Editor Context"
                parentId="org.eclipse.ui.contexts.window">
          </context>
       </extension>
        <extension
              point="org.eclipse.ui.handlers">
           <handler
                 class="com.qualityeclipse.genealogy.handlers.RenameHandler"
                 commandId="com.qualityeclipse.genealogy.command.rename">
           </handler>
        </extension>
 -->
</plugin>
